<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dat Nguyen</title>
  <meta name="description" content="My site is a HTML resume template for professionals. Built with Bootstrap 4, Now UI Kit and FontAwesome, this modern and responsive design template is perfect to showcase your portfolio, skils and experience."
  />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <style>
  </style>
</head>

<body id="top">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">
          <div class="navbar-translate"><a class="navbar-brand" href="#">Dat Nguyen</a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
              aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span
                class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="page-content">
    <div>
      <div class="profile-page">
        <div class="wrapper">
          <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('images/_MG_5854.JPG');"></div>
            <div class="container">
              <div class="content-center">
                <div class="cc-profile-image"><a href="#"><img src="images/avatar.jpg" alt="Image" /></a></div>
                <div class="h2 title">Dat Nguyen Nguyen Thanh</div>
                <p class="category text-white">Software Development</p>
                <a class="btn btn-primary smooth-scroll mr-2" id="contact1" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" onclick="document.getElementById('modal-wrapper').style.display='block'">Hire
                  Me</a>
                <a class="btn btn-primary" href="/database/nnthanhdat-cv.pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download
                  CV</a>
                <!-- -->

              </div>
            </div>
            <div class="section">
              <div class="container">
                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/tuiodayodo"
                    rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a>
                  <a class="btn btn-default btn-round btn-lg btn-icon" href="commingsoon" rel="tooltip" title="Follow me on Twitter"><i
                      class="fa fa-twitter"></i></a>
                  <a class="btn btn-default btn-round btn-lg btn-icon" href="nnthanhdat97@gmail.com" rel="tooltip" title="Follow me on Google+"><i
                      class="fa fa-google-plus"></i></a>
                  <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/tuiodayodo/" rel="tooltip" title="Follow me on Instagram"><i
                      class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="about">
        <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">About</div>
                  <p>Hello! I am Dat Nguyen. Soft Developer and Blogger. </p>
                  <p>Hiện tôi là Team Leader & Developer các ứng dụng trên những nền Website. Bên cạnh đó tôi còn phát triển
                    ứng dụng cho PC, SmartPhone. <a href="https://www.facebook.com/tuiodayodo" target="_blank">Learn More</a></p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">Basic Information</div>
                  <div class="row">
                    <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                    <div class="col-sm-8">21</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                    <div class="col-sm-8">nnthanhdat97@gmail.com</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                    <div class="col-sm-8">(+84) 941 718 529</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                    <div class="col-sm-8">Ho Chi Minh City, Viet Nam</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                    <div class="col-sm-8">English</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">Professional Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Web Development</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span
                        class="progress-value">80%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">PC Application</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span
                        class="progress-value">75%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Mobile Application</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span
                        class="progress-value">50%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Database Analyst</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span
                        class="progress-value">75%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">TemplateFlip</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span
                        class="progress-value">75%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Photoshop</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span
                        class="progress-value">50%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="h4 text-center mb-4 title">Portfolio</div>
              <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i
                        class="fa fa-laptop" aria-hidden="true"></i></a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o"
                        aria-hidden="true"></i></a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera"
                        aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content gallery mt-5">
            <div class="tab-pane active" id="web-development">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#web-development">
                        <figure class="cc-effect"><img src="images/project-1.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Recent Project</div>
                            <p>Web Development</p>
                          </figcaption>
                        </figure></a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#web-development">
                        <figure class="cc-effect"><img src="images/project-2.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Startup Project</div>
                            <p>Web Development</p>
                          </figcaption>
                        </figure></a></div>
                  </div>
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#web-development">
                        <figure class="cc-effect"><img src="images/project-3.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Food Order Project</div>
                            <p>Web Development</p>
                          </figcaption>
                        </figure></a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#web-development">
                        <figure class="cc-effect"><img src="images/project-4.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Web Advertising Project</div>
                            <p>Web Development</p>
                          </figcaption>
                        </figure></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="graphic-design" role="tabpanel">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#graphic-design">
                        <figure class="cc-effect"><img src="images/graphic-design-1.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Triangle Pattern</div>
                            <p>Graphic Design</p>
                          </figcaption>
                        </figure></a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#graphic-design">
                        <figure class="cc-effect"><img src="images/graphic-design-2.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Abstract Umbrella</div>
                            <p>Graphic Design</p>
                          </figcaption>
                        </figure></a></div>
                  </div>
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#graphic-design">
                        <figure class="cc-effect"><img src="images/graphic-design-3.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Cube Surface Texture</div>
                            <p>Graphic Design</p>
                          </figcaption>
                        </figure></a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#graphic-design">
                        <figure class="cc-effect"><img src="images/graphic-design-4.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Abstract Line</div>
                            <p>Graphic Design</p>
                          </figcaption>
                        </figure></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="Photography" role="tabpanel">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#Photography">
                        <figure class="cc-effect"><img src="images/photography-1.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Photoshoot</div>
                            <p>Photography</p>
                          </figcaption>
                        </figure></a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#Photography">
                        <figure class="cc-effect"><img src="images/photography-3.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Wedding Photoshoot</div>
                            <p>Photography</p>
                          </figcaption>
                        </figure></a></div>
                  </div>
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#Photography">
                        <figure class="cc-effect"><img src="images/photography-2.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Beach Photoshoot</div>
                            <p>Photography</p>
                          </figcaption>
                        </figure></a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a
                        href="#Photography">
                        <figure class="cc-effect"><img src="images/photography-4.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Nature Photoshoot</div>
                            <p>Photography</p>
                          </figcaption>
                        </figure></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="experience">
        <div class="container cc-experience">
          <div class="h4 text-center mb-4 title">Work Experience</div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>May 2018 - Present</p>
                  <div class="h5">Developer</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Mobile Developer</div>
                  <p>Mobile app development is the act or process by which a mobile app is developed for mobile devices,
                    such as personal digital assistants, enterprise digital assistants or mobile phones. These applications
                    can be pre-installed on phones during manufacturing platforms, or delivered as web applications using
                    server-side or client-side processing (e.g., JavaScript) to provide an "application-like" experience
                    within a Web browser.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>July 2017 - Present</p>
                  <div class="h5">WebNote</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Web Developer & Technical Advisor </div>
                  <p>Web development is a broad term for the work involved in developing a web site for the Internet (World
                    Wide Web) or an intranet (a private network). ... Among web professionals, "web development" usually
                    refers to the main non-design aspects of building web sites: writing markup and coding..</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>January 2017 - February 2017</p>
                  <div class="h5">Software Mobile Service</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Software Developer</div>
                  <p>Service Pro for iOS, Android and Windows is a true native mobile application for your technicians. ...
                    Our application works offline to keep your techs productive and customers smiling.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container cc-education">
          <div class="h4 text-center mb-4 title">Education</div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2015 - 2018</p>
                  <div class="h5">Bachelor's Degree</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Bachelor of Software Engineering</div>
                  <p class="category">THU DUC COLLEGE OF TECHNOLOGY – HCMC, Vietnam </p>
                  <p>With the motto “Always renew to develop”, the school always strives and attempts to enhance the training
                    quality, with the purpose of being an educational institution to train highly qualified human resources,
                    contributing to the industrialization and modernization process of the city and the whole country.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2016 - 2018</p>
                  <div class="h5">Certification</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Certification of Software Engineering</div>
                  <p class="category">APTECH ARENA MULTIMEDIA – HCMC, Vietnam </p>
                  <p>Aptech Limited is a global education and training company headquartered in Mumbai, India.[1][2] In 2016,
                    Aptech was voted as India's Most Trusted Brand in training & education in the consumer survey conducted
                    by IBC Infomedia & Media Research Group (MRG). In 2017, Aptech was selected amongst India's Top 50 Best
                    Mid-Size Workplaces, by the Great Place To Work Institute India in association with MINT, by HT Media.
                    .</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2012 - 2015</p>
                  <div class="h5">High School</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Student</div>
                  <p class="category">Nguyen Hue High School</p>
                  <p>I learned that high school is what you make of it. You have much more freedom to enroll in classes you
                    enjoy than in elementary or middle school. There are many clubs, sports, and other ways to get involved.
                    You just have to seek them out (or, alternatively, create your own club). High school is a time to find
                    out who you are, what you’re capable of, and what you envision to be as a college student or young adult
                    in the workplace.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="reference">
        <div class="container cc-reference">
          <div class="h4 mb-4 text-center title">References</div>
          <div class="card" data-aos="zoom-in">
            <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
              <ol class="carousel-indicators">
                <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
                <li data-target="#cc-Indicators" data-slide-to="1"></li>
                <li data-target="#cc-Indicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header"><img src="images/reference-image-1.jpg" alt="Image"
                      />
                      <div class="h5 pt-2">Aiyana</div>
                      <p class="category">CEO / WEBM</p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta
                        cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus
                        nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet
                        nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus
                        eleifend.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header"><img src="images/reference-image-2.jpg" alt="Image"
                      />
                      <div class="h5 pt-2">Braiden</div>
                      <p class="category">CEO / Creativem</p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta
                        cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus
                        nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet
                        nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus
                        eleifend.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header"><img src="images/reference-image-3.jpg" alt="Image"
                      />
                      <div class="h5 pt-2">Alexander</div>
                      <p class="category">CEO / Webnote</p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta
                        cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus
                        nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet
                        nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus
                        eleifend.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="contact">
        <div class="cc-contact-information" style="background-image: url('images/project-2.jpg');">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0" data-aos="zoom-in">
                    <div class="h4 text-center title">Contact Me</div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card-body">
                          <form action="/sendmailinfor" method="POST">
                            <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                  <input class="form-control" type="text" name="name" placeholder="Name" required="required" />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-phone" ></i></span>
                                  <input class="form-control" type="text" name="phone" placeholder="Phone number" required="required" />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                  <input class="form-control" type="email" name="email" placeholder="E-mail" required="required" />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <button class="btn btn-primary" type="submit">Send</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card-body">
                          <p class="mb-0"><strong>Address </strong></p>
                          <p class="pb-2">Ho Chi Minh City, Viet Nam</p>
                          <p class="mb-0"><strong>Phone</strong></p>
                          <p class="pb-2">(+84) 914 718 529</p>
                          <p class="mb-0"><strong>Email</strong></p>
                          <p>nnthanhdat97@gmail.com</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://facebook.com/tuiodayodo"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
      <a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
      <a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
      <a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
    <div class="h4 title text-center">Dat Nguyen - XL Team</div>
    <div class="text-center text-muted">
      <p>&copy; Dat Nguyen. All rights reserved.<br>Design - <a class="credit" href="https://facebook.com/tuiodayodo" target="_blank">TemplateFlip</a></p>
    </div>
  </footer>



  <script src="js/core/jquery.3.2.1.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/now-ui-kit.js?v=1.1.0"></script>
  <script src="js/aos.js"></script>
  <script src="scripts/main.js"></script>
  <script>
  </script>
</body>

</html>